<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Memo</h1>
    <div class="memo">
        <table>
            <thead>
                <tr>
                    <th>Memo</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                {% for memo in memos %}
                <tr>
                    <th>{{ memo.text }}</th>
                    <th>{{ memo.author }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/create">Create New Memo</a>
</body>
</html>